[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "config/public"]
	path = config/public
	url = https://github.com/rodrigoclira/rodrigoclira.github.io.git
	branch = master
