{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $content := $block.content }}
{{ if not (reflect.IsMap $content) }}{{ $content = dict }}{{ end }}
{{ $title := "" }}
{{ with index $content "title" }}{{ $title = printf "%v" . | emojify | $page.RenderString }}{{ end }}
{{ $text := "" }}
{{ with index $content "text" }}{{ $text = printf "%v" . | emojify | $page.RenderString | safeHTML }}{{ end }}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  {{ with $title }}
  <div class="mb-8 text-3xl font-bold text-gray-900 dark:text-white">{{ . }}</div>
  {{ end }}
  {{ with $text }}<div>{{ . }}</div>{{ end }}
</div>
